<a href="https://colab.research.google.com/github/mopreni/data_science/blob/master/biblioteca_pandas_marisol.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Biblioteca Pandas

### Series y DataFrames

In [0]:
import pandas as pd

In [0]:
obj = pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [0]:
animales = ['Tortuga', 'Zorro', 'Paloma', 'Elefante']
tipo = ['reptil', 'mamífero', 'ave', 'mamífero']
obj = pd.Series(tipo, index=animales)
obj

Tortuga       reptil
Zorro       mamífero
Paloma           ave
Elefante    mamífero
dtype: object

DataFrames

In [0]:
d = {'tipo_vivienda': ['casa', 'departamento'], 'm2': [35, 49]}
df = pd.DataFrame(data=d)
df

  tipo_vivienda  m2
0          casa  35
1  departamento  49

### Cargando datos

In [7]:
df = pd.read_csv('world_cup_2018_stats.csv')
df

     Game  ... Fouls Committed
0       1  ...              22
1       1  ...              10
2       2  ...              12
3       2  ...               6
4       3  ...              22
..    ...  ...             ...
123    62  ...              14
124    63  ...              11
125    63  ...               5
126    64  ...              14
127    64  ...              13

[128 rows x 32 columns]

In [9]:
pd.read_table('world_cup_2018_stats.csv',sep=',')

     Game  ... Fouls Committed
0       1  ...              22
1       1  ...              10
2       2  ...              12
3       2  ...               6
4       3  ...              22
..    ...  ...             ...
123    62  ...              14
124    63  ...              11
125    63  ...               5
126    64  ...              14
127    64  ...              13

[128 rows x 32 columns]

## Selección e Indexing

### loc e iloc

In [10]:
df.loc[0, 'Team']

'Russia'

In [12]:
df.iloc[0, [2]]

Team    Russia
Name: 0, dtype: object

In [13]:
df.iloc[2]

Game                                            2
Group                                           A
Team                                        Egypt
Opponent                                  Uruguay
Home/Away                                    home
Score                                         0-1
WDL                                             L
Pens?                                         NaN
Goals For                                       0
Goals Against                                   1
Pen Shootout For                              NaN
Pen Shootout Against                          NaN
Attempts                                        8
On-Target                                       3
Off-Target                                      3
Blocked                                         2
Woodwork                                        0
Corners                                         0
Offsides                                        1
Ball possession %                              43
Pass Accuracy %                                78
Passes                                        395
Passes Completed                              308
Distance Covered km                           112
Balls recovered                                57
Tackles                                        12
Blocks                                          4
Clearances                                     32
Yellow cards                                    2
Red Cards                                       0
Second Yellow Card leading to Red Card          0
Fouls Committed                                12
Name: 2, dtype: object

## Análisis descriptivo en Pandas

### describe, info y shape

In [14]:
df.describe()

             Game  ...  Fouls Committed
count  128.000000  ...       128.000000
mean    32.500000  ...        13.546875
std     18.545539  ...         4.619131
min      1.000000  ...         5.000000
25%     16.750000  ...        10.000000
50%     32.500000  ...        13.000000
75%     48.250000  ...        16.000000
max     64.000000  ...        25.000000

[8 rows x 25 columns]

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 32 columns):
Game                                      128 non-null int64
Group                                     128 non-null object
Team                                      128 non-null object
Opponent                                  128 non-null object
Home/Away                                 128 non-null object
Score                                     128 non-null object
WDL                                       128 non-null object
Pens?                                     8 non-null object
Goals For                                 128 non-null int64
Goals Against                             128 non-null int64
Pen Shootout For                          8 non-null float64
Pen Shootout Against                      8 non-null float64
Attempts                                  128 non-null int64
On-Target                                 128 non-null int64
Off-Target                                128 non-null int64
Blocked                                   128 non-null int64
Woodwork                                  128 non-null int64
Corners                                   128 non-null int64
Offsides                                  128 non-null int64
Ball possession %                         128 non-null int64
Pass Accuracy %                           128 non-null int64
Passes                                    128 non-null int64
Passes Completed                          128 non-null int64
Distance Covered km                       128 non-null int64
Balls recovered                           128 non-null int64
Tackles                                   128 non-null int64
Blocks                                    128 non-null int64
Clearances                                128 non-null int64
Yellow cards                              128 non-null int64
Red Cards                                 128 non-null int64
Second Yellow Card leading to Red Card    128 non-null int64
Fouls Committed                           128 non-null int64
dtypes: float64(2), int64(23), object(7)
memory usage: 32.1+ KB

In [16]:
df.shape

(128, 32)

In [17]:
df.columns

Index(['Game', 'Group', 'Team', 'Opponent', 'Home/Away', 'Score', 'WDL',
       'Pens?', 'Goals For', 'Goals Against', 'Pen Shootout For',
       'Pen Shootout Against', 'Attempts', 'On-Target', 'Off-Target',
       'Blocked', 'Woodwork', 'Corners', 'Offsides', 'Ball possession %',
       'Pass Accuracy %', 'Passes', 'Passes Completed', 'Distance Covered km',
       'Balls recovered', 'Tackles', 'Blocks', 'Clearances', 'Yellow cards',
       'Red Cards', 'Second Yellow Card leading to Red Card',
       'Fouls Committed'],
      dtype='object')

In [18]:
df.head()

   Game Group  ... Second Yellow Card leading to Red Card Fouls Committed
0     1     A  ...                                      0              22
1     1     A  ...                                      0              10
2     2     A  ...                                      0              12
3     2     A  ...                                      0               6
4     3     B  ...                                      0              22

[5 rows x 32 columns]

In [19]:
df.tail(4)

     Game  ... Fouls Committed
124    63  ...              11
125    63  ...               5
126    64  ...              14
127    64  ...              13

[4 rows x 32 columns]

### unique y value_counts()

In [20]:
df['Team'].unique()

array(['Russia', 'Saudi Arabia', 'Egypt', 'Uruguay', 'Morocco', 'IR Iran',
       'Portugal', 'Spain', 'France', 'Australia', 'Argentina', 'Iceland',
       'Peru', 'Denmark', 'Croatia', 'Nigeria', 'Costa Rica', 'Serbia',
       'Germany', 'Mexico', 'Brazil', 'Switzerland', 'Sweden',
       'Korea Republic', 'Belgium', 'Panama', 'Tunisia', 'England',
       'Colombia', 'Japan', 'Poland', 'Senegal'], dtype=object)

In [21]:
df.Team.value_counts()

Croatia           7
Belgium           7
France            7
England           7
Russia            5
Brazil            5
Uruguay           5
Sweden            5
Japan             4
Mexico            4
Colombia          4
Spain             4
Argentina         4
Switzerland       4
Portugal          4
Denmark           4
Australia         3
Panama            3
Germany           3
Korea Republic    3
Senegal           3
Poland            3
Costa Rica        3
Peru              3
Tunisia           3
IR Iran           3
Nigeria           3
Saudi Arabia      3
Morocco           3
Egypt             3
Iceland           3
Serbia            3
Name: Team, dtype: int64

### count, min, max, mean, median, std y corr

In [22]:
df.corr()

                                            Game  ...  Fouls Committed
Game                                    1.000000  ...        -0.070133
Goals For                               0.059289  ...         0.030331
Goals Against                           0.059289  ...         0.034753
Pen Shootout For                        0.291807  ...        -0.019973
Pen Shootout Against                    0.291807  ...         0.432747
Attempts                                0.149004  ...        -0.248773
On-Target                               0.100805  ...        -0.192242
Off-Target                              0.112579  ...        -0.191581
Blocked                                 0.117840  ...        -0.174606
Woodwork                               -0.003141  ...        -0.064345
Corners                                 0.117337  ...        -0.165382
Offsides                               -0.122741  ...        -0.040084
Ball possession %                       0.000000  ...        -0.294965
Pass Accuracy %                        -0.106148  ...        -0.325613
Passes                                  0.153921  ...        -0.352780
Passes Completed                        0.110413  ...        -0.375230
Distance Covered km                     0.226733  ...         0.149800
Balls recovered                        -0.045504  ...         0.185429
Tackles                                -0.019081  ...         0.327837
Blocks                                  0.113870  ...         0.133492
Clearances                              0.067736  ...         0.184309
Yellow cards                            0.143298  ...         0.444969
Red Cards                               0.017050  ...         0.012408
Second Yellow Card leading to Red Card -0.010230  ...         0.039790
Fouls Committed                        -0.070133  ...         1.000000

[25 rows x 25 columns]

### Quantiles

In [24]:
df['Distance Covered km'].quantile(0.90) # 10th percentile

115.3

In [26]:
df['Distance Covered km'].median()

104.5

### Ordenando datos

In [27]:
df.sort_index()

     Game  ... Fouls Committed
0       1  ...              22
1       1  ...              10
2       2  ...              12
3       2  ...               6
4       3  ...              22
..    ...  ...             ...
123    62  ...              14
124    63  ...              11
125    63  ...               5
126    64  ...              14
127    64  ...              13

[128 rows x 32 columns]

In [33]:
df_ordenado = df.sort_values("Team")
df_ordenado['Team']

77     Argentina
44     Argentina
97     Argentina
10     Argentina
41     Australia
         ...
36       Uruguay
98       Uruguay
64       Uruguay
3        Uruguay
112      Uruguay
Name: Team, Length: 128, dtype: object

In [34]:
df_ordenado['Team'].unique()

array(['Argentina', 'Australia', 'Belgium', 'Brazil', 'Colombia',
       'Costa Rica', 'Croatia', 'Denmark', 'Egypt', 'England', 'France',
       'Germany', 'IR Iran', 'Iceland', 'Japan', 'Korea Republic',
       'Mexico', 'Morocco', 'Nigeria', 'Panama', 'Peru', 'Poland',
       'Portugal', 'Russia', 'Saudi Arabia', 'Senegal', 'Serbia', 'Spain',
       'Sweden', 'Switzerland', 'Tunisia', 'Uruguay'], dtype=object)

## Combinando datasets

### concat y append

In [0]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                    index=[0, 1, 2, 3])
   

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                    index=[4, 5, 6, 7])


df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                    index=[8, 9, 10, 11])
frames = [df1, df2, df3]

In [37]:
df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [38]:
pd.concat(frames)

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [39]:
df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                    'D': ['D2', 'D3', 'D6', 'D7'],
                    'F': ['F2', 'F3', 'F6', 'F7']},
                     index=[2, 3, 6, 7])
df4

    B   D   F
2  B2  D2  F2
3  B3  D3  F3
6  B6  D6  F6
7  B7  D7  F7

In [40]:
pd.concat([df1, df4], axis=1) # Concatenación horizontal

     A    B    C    D    B    D    F
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

In [41]:
pd.concat([df1, df4], axis=1, join='inner') # Cambiando la forma de concatenar con join

    A   B   C   D   B   D   F
2  A2  B2  C2  D2  B2  D2  F2
3  A3  B3  C3  D3  B3  D3  F3

In [42]:
df1.append(df2) # Append es otra forma de fácilmente concatenerar

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

### Merge

In [43]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                    'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3']})


right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']})


pd.merge(left, right, on='key')

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [0]:
import numpy as np

## apply y map

### apply

In [46]:
usuarios_df = pd.DataFrame({'edad': [np.nan, 20, 41, 20],
                            'clics_por_hora': [156, np.nan, 210, 210]})
usuarios_df

   edad  clics_por_hora
0   NaN           156.0
1  20.0             NaN
2  41.0           210.0
3  20.0           210.0

In [47]:
import numpy as np
usuarios_df.apply(np.mean) # Se puede aplicar cualquier función que toma una fila o columna por entrada.

edad               27.0
clics_por_hora    192.0
dtype: float64

In [50]:
df.describe()

             Game  ...  Fouls Committed
count  128.000000  ...       128.000000
mean    32.500000  ...        13.546875
std     18.545539  ...         4.619131
min      1.000000  ...         5.000000
25%     16.750000  ...        10.000000
50%     32.500000  ...        13.000000
75%     48.250000  ...        16.000000
max     64.000000  ...        25.000000

[8 rows x 25 columns]

In [51]:
df.info

<bound method DataFrame.info of      Game  ... Fouls Committed
0       1  ...              22
1       1  ...              10
2       2  ...              12
3       2  ...               6
4       3  ...              22
..    ...  ...             ...
123    62  ...              14
124    63  ...              11
125    63  ...               5
126    64  ...              14
127    64  ...              13

[128 rows x 32 columns]>

### applymap

In [52]:
usuarios_df.applymap(lambda x: x/2) # Se aplica elemento a elemento. En las series podemos usar directamente serie.map

   edad  clics_por_hora
0   NaN            78.0
1  10.0             NaN
2  20.5           105.0
3  10.0           105.0

## Missing values

### Filtrando valores faltantes

In [53]:
usuarios_df

   edad  clics_por_hora
0   NaN           156.0
1  20.0             NaN
2  41.0           210.0
3  20.0           210.0

In [54]:
usuarios_df.isna()

    edad  clics_por_hora
0   True           False
1  False            True
2  False           False
3  False           False

In [56]:
usuarios_df.dropna()  # Puede borrarse toda fila que contenga un NaN o solamente en las columnas que especificamos

   edad  clics_por_hora
2  41.0           210.0
3  20.0           210.0

In [57]:
usuarios_df.dropna(subset=['edad'])

   edad  clics_por_hora
1  20.0             NaN
2  41.0           210.0
3  20.0           210.0

In [0]:
copia_df = usuarios_df

In [59]:
usuarios_df

   edad  clics_por_hora
0   NaN           156.0
1  20.0             NaN
2  41.0           210.0
3  20.0           210.0

### Completando valores

In [60]:
copia_df['edad'].fillna(usuarios_df.edad.mean())

0    27.0
1    20.0
2    41.0
3    20.0
Name: edad, dtype: float64

In [61]:
copia_df.fillna(0)

   edad  clics_por_hora
0   0.0           156.0
1  20.0             0.0
2  41.0           210.0
3  20.0           210.0

In [62]:
copia_df

   edad  clics_por_hora
0   NaN           156.0
1  20.0             NaN
2  41.0           210.0
3  20.0           210.0

In [0]:

copia_df.fillna(usuarios_df.edad.mean(), inplace=True) # Podemos elegir con qué completar los valores faltantes.

In [64]:
copia_df

   edad  clics_por_hora
0  27.0           156.0
1  20.0            27.0
2  41.0           210.0
3  20.0           210.0

### Borrando duplicados

In [65]:
usuarios_df

   edad  clics_por_hora
0  27.0           156.0
1  20.0            27.0
2  41.0           210.0
3  20.0           210.0

In [66]:
usuarios_df.drop_duplicates(subset=['edad'], keep='first') # Se puede jugar con el first, last, etc. Y también elegir en qué columnas

   edad  clics_por_hora
0  27.0           156.0
1  20.0            27.0
2  41.0           210.0