<a href="https://colab.research.google.com/github/mopreni/data_science/blob/master/covid19_marisol.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Análisis básico del dataset sobre Covid19 publicado en el sitio de Kaggle.**
1. Curva de contagios en todos los países
2. Comparación de la curva de Argentina con el país de curva más alta
3. Geolocalización de contagios.
4. Impacto de la cuarentena en países que la implementaron.
5. La cuarentena en Argentina, ¿se parece a la de algún otro país?
6. Ver cómo impactó la cuarentena en países con más infectados.
7. Edad de los infectados
8. Velocidad de cambio de la cantidad de infectados en el tiempo
9. Asociar la velocidad de cambio a la estación del lugar (es esperable que en verano baje)
10. Comparación de las curvas de casos considerando el primer caso detectado para cada país

In [0]:
# Importar bibliotecas en esta celda
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
import seaborn as sns

In [0]:
# La siguiente línea es para ver las imagenes dentro del notebook
%matplotlib inline
# Acá configuramos el tamaño de las figuras
plt.rcParams['figure.figsize'] = (12,8)
# Seteamos opciones de pandas sobre las columnas y su ancho
pd.set_option('max_columns', 120)
pd.set_option('max_colwidth', 5000)

In [0]:
df = pd.read_csv("time_series_covid19_confirmed_global.csv", parse_dates = True)

In [0]:
df.info()

In [0]:
df.columns

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20', '1/28/20', '1/29/20',
       '1/30/20', '1/31/20', '2/1/20', '2/2/20', '2/3/20', '2/4/20', '2/5/20',
       '2/6/20', '2/7/20', '2/8/20', '2/9/20', '2/10/20', '2/11/20', '2/12/20',
       '2/13/20', '2/14/20', '2/15/20', '2/16/20', '2/17/20', '2/18/20',
       '2/19/20', '2/20/20', '2/21/20', '2/22/20', '2/23/20', '2/24/20',
       '2/25/20', '2/26/20', '2/27/20', '2/28/20', '2/29/20', '3/1/20',
       '3/2/20', '3/3/20', '3/4/20', '3/5/20', '3/6/20', '3/7/20', '3/8/20',
       '3/9/20', '3/10/20', '3/11/20', '3/12/20', '3/13/20', '3/14/20',
       '3/15/20', '3/16/20', '3/17/20', '3/18/20', '3/19/20', '3/20/20',
       '3/21/20', '3/22/20', '3/23/20', '3/24/20', '3/25/20', '3/26/20'],
      dtype='object')

In [0]:
df['Country/Region'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Benin', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Brazil', 'Brunei', 'Bulgaria',
       'Burkina Faso', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Diamond Princess', 'Cuba', 'Cyprus',
       'Czechia', 'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador',
       'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala',
       'Guinea', 'Guyana', 'Haiti', 'Holy See', 'Honduras', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
       'Kenya', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Latvia',
       'Lebanon', 'Liberia', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malaysia', 'Maldives', 'Malta', 'Mauritania',
       'Mauritius', 'Mexico', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Namibia', 'Nepal', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia',
       'Norway', 'Oman', 'Pakistan', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'San Marino', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Singapore', 'Slovakia',
       'Slovenia', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Taiwan*',
       'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'Uruguay', 'US', 'Uzbekistan', 'Venezuela',
       'Vietnam', 'Zambia', 'Zimbabwe', 'Dominica', 'Grenada',
       'Mozambique', 'Syria', 'Timor-Leste', 'Belize', 'Laos', 'Libya',
       'West Bank and Gaza', 'Guinea-Bissau', 'Mali',
       'Saint Kitts and Nevis', 'Kosovo'], dtype=object)

In [0]:
df.describe()

,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,2/1/20,2/2/20,2/3/20,2/4/20,2/5/20,2/6/20,2/7/20,2/8/20,2/9/20,2/10/20,2/11/20,2/12/20,2/13/20,2/14/20,2/15/20,2/16/20,2/17/20,2/18/20,2/19/20,2/20/20,2/21/20,2/22/20,2/23/20,2/24/20,2/25/20,2/26/20,2/27/20,2/28/20,2/29/20,3/1/20,3/2/20,3/3/20,3/4/20,3/5/20,3/6/20,3/7/20,3/8/20,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20
count,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000,248.000000
mean,22.273867,24.150757,2.237903,2.637097,3.794355,5.782258,8.540323,11.802419,22.491935,24.862903,33.201613,40.028226,48.540323,67.689516,80.165323,96.338710,111.431452,124.169355,138.673387,149.677419,161.895161,172.427419,180.653226,182.342742,243.419355,269.697581,278.346774,287.193548,295.395161,302.967742,304.995968,307.245968,309.754032,316.822581,318.379032,320.810484,324.217742,328.177419,333.653226,339.161290,346.818548,356.326613,364.137097,374.354839,383.548387,394.701613,410.487903,426.802419,442.826613,458.024194,478.306452,507.560484,517.548387,585.504032,629.439516,675.217742,732.153226,794.766129,866.213710,977.822581,1096.915323,1227.403226,1358.681452,1525.141129,1685.665323,1885.697581,2135.447581
std,24.606559,71.375287,28.249679,28.349563,35.289234,49.109818,68.626006,92.459715,226.958199,228.327056,314.657399,373.048807,459.063488,713.482561,862.519162,1063.035725,1252.725500,1408.239224,1588.629239,1725.024675,1885.618640,2018.686289,2122.665643,2123.007799,3063.268483,3456.478354,3573.451810,3696.109699,3810.758927,3918.176901,3940.346327,3966.405233,3980.430758,4070.610668,4070.641462,4083.578354,4115.278692,4140.905480,4167.423735,4188.604624,4217.412816,4255.908575,4271.262002,4284.007814,4295.783910,4310.301362,4328.031833,4345.874042,4362.764716,4382.783805,4399.254590,4433.443190,4443.987575,4540.003771,4624.205039,4722.379249,4839.493968,4978.900158,5165.948232,5465.975619,5830.445404,6272.707990,6724.478408,7350.711015,7984.453130,8831.851666,9978.870743
min,-41.454500,-135.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8.390125,-15.212825,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,2.000000,3.000000,3.750000,4.000000,5.000000,8.750000,8.750000,11.000000,13.000000
50%,24.487000,20.972650,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,1.000000,1.000000,1.000000,2.000000,2.000000,3.000000,5.000000,5.000000,6.500000,10.000000,12.500000,18.000000,27.000000,35.000000,42.000000,49.000000,62.000000,75.000000,78.000000,89.000000,97.500000,110.000000
75%,41.435275,85.953175,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.250000,0.250000,0.250000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,3.000000,4.000000,6.000000,7.000000,8.000000,11.000000,15.000000,16.500000,21.250000,22.250000,32.750000,34.500000,42.500000,60.250000,67.500000,82.750000,105.250000,116.250000,136.000000,163.500000,177.250000,220.500000,254.500000,305.250000,328.750000,381.500000,411.750000,467.000000,524.500000
max,71.706900,178.065000,444.000000,444.000000,549.000000,761.000000,1058.000000,1423.000000,3554.000000,3554.000000,4903.000000,5806.000000,7153.000000,11177.000000,13522.000000,16678.000000,19665.000000,22112.000000,24953.000000,27100.000000,29631.000000,31728.000000,33366.000000,33366.000000,48206.000000,54406.000000,56249.000000,58182.000000,59989.000000,61682.000000,62031.000000,62442.000000,62662.000000,64084.000000,64084.000000,64287.000000,64786.000000,65187.000000,65596.000000,65914.000000,66337.000000,66907.000000,67103.000000,67217.000000,67332.000000,67466.000000,67592.000000,67666.000000,67707.000000,67743.000000,67760.000000,67773.000000,67781.000000,67786.000000,67790.000000,67794.000000,67798.000000,67799.000000,67800.000000,67800.000000,67800.000000,67800.000000,67800.000000,67800.000000,69176.000000,74386.000000,83836.000000

In [0]:
suma = df[df['Country/Region'] =="Argentina"].sum()
suma

Province/State            0
Country/Region    Argentina
Lat                -38.4161
Long               -63.6167
1/22/20                   0
                    ...
3/22/20                 266
3/23/20                 301
3/24/20                 387
3/25/20                 387
3/26/20                 502
Length: 69, dtype: object

In [0]:
df = pd.read_csv("covid_19_data.csv", parse_dates = True)

In [0]:
df.head(3)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0

In [0]:
df.describe()

               SNo     Confirmed       Deaths     Recovered
count  8811.000000   8811.000000  8811.000000   8811.000000
mean   4406.000000    733.346272    27.071388    250.276132
std    2543.660944   5204.411092   266.861329   2806.600404
min       1.000000      0.000000     0.000000      0.000000
25%    2203.500000      2.000000     0.000000      0.000000
50%    4406.000000     20.000000     0.000000      0.000000
75%    6608.500000    147.000000     1.000000     10.000000
max    8811.000000  74386.000000  7503.000000  60811.000000

In [0]:
df.columns

Index(['SNo', 'ObservationDate', 'Province/State', 'Country/Region',
       'Last Update', 'Confirmed', 'Deaths', 'Recovered'],
      dtype='object')

In [0]:
df.['Country/Region']

In [4]:
df = pd.read_csv("drive/My Drive/Colab Notebooks/DS-ejercicios/Covid19/covid_19_data.csv", parse_dates = True)
df.head(3)

   SNo ObservationDate Province/State  ... Confirmed Deaths  Recovered
0    1      01/22/2020          Anhui  ...       1.0    0.0        0.0
1    2      01/22/2020        Beijing  ...      14.0    0.0        0.0
2    3      01/22/2020      Chongqing  ...       6.0    0.0        0.0

[3 rows x 8 columns]

In [5]:
df = pd.read_csv("drive/My Drive/Colab Notebooks/DS-ejercicios/Covid19/COVID19_line_list_data.csv", parse_dates = True)
df.head(3)

   id  case_in_country reporting date  ...  Unnamed: 24 Unnamed: 25 Unnamed: 26
0   1              NaN      1/20/2020  ...          NaN         NaN         NaN
1   2              NaN      1/20/2020  ...          NaN         NaN         NaN
2   3              NaN      1/21/2020  ...          NaN         NaN         NaN

[3 rows x 27 columns]

In [6]:
df = pd.read_csv("drive/My Drive/Colab Notebooks/DS-ejercicios/Covid19/COVID19_open_line_list.csv", parse_dates = True)
df.columns

Index(['ID', 'age', 'sex', 'city', 'province', 'country',
       'wuhan(0)_not_wuhan(1)', 'latitude', 'longitude', 'geo_resolution',
       'date_onset_symptoms', 'date_admission_hospital', 'date_confirmation',
       'symptoms', 'lives_in_Wuhan', 'travel_history_dates',
       'travel_history_location', 'reported_market_exposure',
       'additional_information', 'chronic_disease_binary', 'chronic_disease',
       'source', 'sequence_available', 'outcome', 'date_death_or_discharge',
       'notes_for_discussion', 'location', 'admin3', 'admin2', 'admin1',
       'country_new', 'admin_id', 'data_moderator_initials', 'Unnamed: 33',
       'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37',
       'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41',
       'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44'],
      dtype='object')

In [7]:
df.head(3)

    ID age   sex  ... Unnamed: 42 Unnamed: 43 Unnamed: 44
0  1.0  30  male  ...         NaN         NaN         NaN
1  2.0  47  male  ...         NaN         NaN         NaN
2  3.0  49  male  ...         NaN         NaN         NaN

[3 rows x 45 columns]

In [8]:
df = pd.read_csv("drive/My Drive/Colab Notebooks/DS-ejercicios/Covid19/time_series_covid_19_confirmed.csv", parse_dates = True)
df.head(3)

  Province/State Country/Region      Lat  ...  3/24/20  3/25/20  3/26/20
0            NaN    Afghanistan  33.0000  ...       74       84       94
1            NaN        Albania  41.1533  ...      123      146      174
2            NaN        Algeria  28.0339  ...      264      302      367

[3 rows x 69 columns]